.signin_box {
  padding: 60px;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../resources/images/blur.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 20px 0 80px 0; */
}
.spinner {
  text-align: center;
  padding: 5em;
}
.jumbotron {
  background-image: url("../resources/images/boban-simonovski-qkJ8sTSg0hk-unsplash.jpg");
  background-size: cover;
}
.main_container {
  margin: 5rem;
}
.signin_wrapper {
  margin: 0 auto;
  width: 50%;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 40px;
}
label {
  margin-top: 0.5rem;
}

.error_wrapper {
  margin-top: 1rem;
}
nav {
  overflow: hidden;
  background-color: black;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}
.nav-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.nav-link:hover {
  color: lightgray;
}

/* User Recipes */

/* .modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.modal.modal-open {
  visibility: visible;
  backface-visibility: visible;
  opacity: 1;
  z-index: 1;
}

.modal-inner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  max-width: 35em;
  padding: 1em 1.5em;
  position: relative;
  margin: 2em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}

.modal-content-inner {
  padding-top: 1em;
  margin-bottom: 0;
}

.modal-content-inner input {
  width: 500px;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.modal-buttons button {
  margin-left: 1em;
}

.modal-buttons button:first-child {
  margin-left: 0;
} */
.Anime {
  width: 20%;
  margin: 5px;
  z-index: 1;
  padding: 7px;
  border-radius: 5px;
  color: white;
  background: #24c6dc;
  background: linear-gradient(to right, #514a9d, #24c6dc);
}

.Music {
  width: 20%;
  margin: 5px;
  z-index: 1;
  padding: 7px;
  border-radius: 5px;
  color: white;
  background: #50c9c3;
  background: linear-gradient(to right, rgb(80, 146, 143), rgb(2, 105, 100));
}

.Technology {
  width: 100px;
  margin: 5px;
  z-index: 1;
  color: white;
  padding: 7px;
  background: #9d50bb;
  border-radius: 50px 120px 120px;
}

.Travel {
  width: 20%;
  margin: 5px;
  z-index: 1;
  padding: 7px;
  color: white;
  background: linear-gradient(to right, #b24592, #f15f79);
  border-radius: 50px 120px 120px;
}
